<html>
  <header>
    <base href="/"/>
  </header>

  <body>
    <div class="container">
      <h2>Liste des notes</h2>

      <nav>
        <a routerLink="/newnote">
          <button type="button" class="btn btn-default">Nouvelle note</button>
        </a>
        <a>
          <button type="button" class="btn btn-default">Catégories</button>
        </a><br><br>
      </nav>
      <router-outlet></router-outlet>

      <div *ngFor="let note of notes">
        <div class="well well-sm">
          <b>{{note.title}}</b><br>
          <i>{{note.categorie.name}}</i> -
          {{note.date}}
          <div style="background-color:white;">
            {{note.content}}<br><br>
          </div>
          <a>
            <span class="glyphicon glyphicon-edit" style="font-size:15px;color:#4682B4;"></span>
          </a>
          <a>
            <span class="glyphicon glyphicon-remove" style="font-size:15px;color: #CD5C5C;"></span>
          </a>
        </div>
    	</div>
    </div>
  </body>
</html>
