<div class="container-fluid">
  <h4 *ngIf="cat.id >0; else newCat">Modifier catégorie</h4>
  <ng-template #newCat><h4>Nouvelle catégorie</h4></ng-template>
  <form>
    <div class="form-group">
      <label for="name">Nom:</label>
      <!--2ways data binding -->
      <input type="text" class="form-control" [(ngModel)]="cat.name" [ngModelOptions]="{standalone: true}" required>
    </div>
    <button [disabled]="checkContent()" class="btn btn-primary" (click)="emitCat()" >Sauver</button><br><br>
  </form>
</div>
