<div class="container-fluid">
  <h2>Nouvelle note</h2>
  <form>
    <div class="form-group">
      <label for="title">Titre:</label>
      <input type="text" class="form-control" id="title">
    </div>
    <div class="form-group">
      <label for="content">Contenu:</label>
      <textarea class="form-control" rows="4" id="content"></textarea>
    </div>
    <div class="form-group">
      <label for="sel1">Catégorie:</label>
      <select class="form-control" id="categorie">
        <option *ngFor="let category of categories">{{category}}</option>
      </select>
    </div>
    <button class="btn btn-primary" (click)="createNewNote($event)">Sauver</button>
  </form>
</div>
