<h2>Nouvelle note</h2>
<form>
  <div class="form-group">
    <label for="title">Titre:</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="form-group">
    <label for="content">Contenu:</label>
    <textarea class="form-control" rows="4" id="content"></textarea>
  </div>
  <div class="form-group">
    <label for="sel1">Catégorie:</label>
    <select class="form-control" id="category">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
</form>
